body {
  font-family:sans-serif;
  background: linear-gradient(red,blue,green);
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: fantasy;
  color:#1f1;
  letter-spacing: 1px;
  font-size: 3rem;
}

.recycler-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-card {
  display: flex;
  background-color: rgba(128, 128, 128, 0.323);
  color:white;
  word-spacing: 2px;
  border-radius: 8px;
  /* box-shadow: 1px 1px 1px 1px; */
  overflow: hidden;
}

.movie-card img {
  width: 120px;
}

.movie-details {
  padding: 10px;
  flex: 1;
}
